<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Amazon's dashboard </title>
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/map.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
    <script src="/static/chart1.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/chart3.js"></script> 
    <script src="/static/chart4.js"></script>  

    
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
   
    <div class="container">
        <h1>Amazon Dashboard</h1>
    </div>
    <div>
        <div id = "chartdiv" ></div>
        <div id = "datadiv"></div>
        <div id = "valuediv" ></div>
        <div id = "demodiv" ></div>

    </div>
</body>
</html>